<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.rm.mydiet"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".MyDietApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.AddProductActivity"
            android:label="@string/title_activity_add_product"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".ui.EditProductActivity"
            android:label="@string/title_activity_edit_product"
            android:theme="@style/AppTheme">
        </activity>
    </application>

</manifest>
